body {
  background-image: url("dashboard-photos/mountain-range.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: fantasy;
  font-size: 45px;
  margin-left: 15px;
  margin-right: 60%;
}

footer {
  shape-image-threshold: unset;
}
.container {
  display: grid;
  grid-template-columns: 3fr auto 2fr;
  grid-template-rows: 1fr 1fr auto;
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column-gap: auto;

  grid-template-areas:
    "h1   h1   h1"
    "h3   h3   aside"
    "main main aside";
}

.container-2 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  grid-row-start: auto;
  grid-row-end: auto;
  grid-column-end: auto;
  grid-template-areas: "footer .";
}
